# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
ios/
android/
*.orig.*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env / secrets
.env
.env.local
*.pem

# IDE
.idea/
.vscode/
